.wrapper {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 50px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
form {
  display: flex;
  flex-direction: column;
  input {
    box-sizing: border-box;
    margin-bottom: 35px;
    height: 28px;
    width: 100%;
  }
}
