<div class="wrapper">
  <h1>Sign up</h1>
  <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
    <div class="input-wrapper">
      <label for="username"></label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        #username="ngModel"
        ngModel
        required
      />
    </div>
    <div class="input-wrapper">
      <label for="email"></label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        #email="ngModel"
        ngModel
        email
        required
      />
    </div>

    <div class="input-wrapper">
      <label for="password"></label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        #password="ngModel"
        ngModel
        required
      />
    </div>
    <div class="input-wrapper">
      <label for="passwordRep"></label>
      <input
        type="password"
        id="passwordRep"
        name="passwordRep"
        placeholder="Confirm password"
        #passwordRep="ngModel"
        ngModel
        required
      />
    </div>
    <div class="input-wrapper">
      <label for="phone"></label>
      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="Phone"
        #phone="ngModel"
        ngModel
      />
    </div>
    <button type="submit" [disabled]="signupForm.invalid" class="btn-main">
      Signup
    </button>
  </form>
</div>
