<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email"></label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="Email"
    />
  </div>
  >
  <div>
    <label for="password"></label>
    <input
      type="password"
      id="password"
      formControlName="password"
      placeholder="Password"
    />
  </div>

  >
  <button
    type="submit"
    [disabled]="
      loginForm.get('email')?.invalid || loginForm.get('password')?.invalid
    "
  >
    Sign-in
  </button>
</form>
