<div>
  <button (click)="close()">X</button>
  <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()">
    <div
      [class.mat-form-field-invalid]="
        editTaskForm.get('name')?.invalid &&
        editTaskForm.get('description')?.dirty
      "
    >
      <label for="name"></label>
      <input
        matInput
        type="text"
        id="name"
        formControlName="name"
        placeholder="Name"
        value="task.name"
      />
    </div>

    <button
      type="submit"
      [disabled]="
        editTaskForm.get('email')?.invalid ||
        editTaskForm.get('password')?.invalid
      "
    >
      Edit Board
    </button>
  </form>
</div>
