app-header {
    height: 80px;
    background-color: #ededeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

mat-spinner {
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

