<div class="wrapper">
  <button (click)="close()" class="btn-close">X</button>
  <form
    (ngSubmit)="onSubmit(addTaskForm)"
    #addTaskForm="ngForm"
    enctype="multipart/form-data"
  >
    <div class="input-wrapper">
      <label for="name"></label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Name"
        ngModel
        required
        minlength="1"
      />
    </div>
    <div class="input-wrapper">
      <label for="image"></label>
      <input
        type="file"
        id="image"
        name="image"
        placeholder="Image"
        ngModel
        #imgInput
        (change)="uploadImage($event)"
      />
    </div>
    <button type="submit" [disabled]="addTaskForm.invalid">Add Task</button>
  </form>
</div>
