<div class="wrapper">
  <button (click)="close()">X</button>
  <form [formGroup]="addBoardForm" (ngSubmit)="onSubmit()">
    <div
      [class.error]="
        addBoardForm.get('name')?.invalid &&
        addBoardForm.get('description')?.dirty
      "
    >
      <label for="name"></label>
      <input
        matInput
        type="text"
        id="name"
        formControlName="name"
        placeholder="Name"
      />
    </div>
    <div
      [class.error]="
        addBoardForm.get('name')?.invalid &&
        addBoardForm.get('description')?.dirty
      "
    >
      <label for="description"></label>
      <input
        matInput
        type="text"
        id="description"
        formControlName="description"
        placeholder="Description"
      />
    </div>
    <button
      type="submit"
      [disabled]="
        addBoardForm.get('email')?.invalid ||
        addBoardForm.get('password')?.invalid
      "
    >
      Create Board
    </button>
  </form>
</div>
