<div class="wrapper">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email"></label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
      />
      <p
        *ngIf="email?.invalid && (email?.touched || email?.dirty)"
        class="error-message"
      >
        Invalid email
      </p>
    </div>

    <div>
      <label for="password"></label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Password"
      />
      <p
        *ngIf="password?.invalid && (password?.touched || password?.dirty)"
        class="error-message"
      >
        Make sure to enter your password
      </p>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn-main">
      Sign-in
    </button>
    <p>
      Don't have an account yet? Click <a routerLink="/signup">here</a> to sign
      up
    </p>
  </form>
</div>
