.modal__contents {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  opacity: 1;
}
.modal__overlay {
  background: black;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
