<div class="container">
  <div class="filter-sort">
    <div class="filter">
      <select name="" id="" #filterParam>
        <option value="">Filter By</option>
        <option value="board">Board name</option>
        <option value="task">Task name</option>
      </select>
      <label for="filterBoards">Filter</label>
      <input
        id="filterBoards"
        type="text"
        name="filter"
        [(ngModel)]="organize.filter"
        (input)="setFilter(filterParam.value)"
      />
    </div>
    <div class="sort">
      <select name="" id="" #select>
        <option value="">Sort By</option>
        <option value="name">name</option>
        <option value="date">date</option>
        <option value="tasks">number of tasks</option>
      </select>

      <button (click)="setSort(asc.innerText, select.value)" #asc>
        ASC<fa-icon [icon]="icons.asc"></fa-icon>
      </button>
      <button (click)="setSort(desc.innerText, select.value)" #desc>
        DESC<fa-icon [icon]="icons.desc"></fa-icon>
      </button>
    </div>
  </div>

  <button (click)="openShowModal()" class="board-add">
    <fa-icon [icon]="icons.add"></fa-icon>
  </button>

  <app-modal *ngIf="modal.addModal" class="addBoardModal">
    <app-addBoard-form (closeModal)="onClose()"></app-addBoard-form>
  </app-modal>

  <div *ngIf="boards$ | async as boards" class="board-container">
    <div
      *ngFor="
        let board of boards
          | filterBoards: organize.compositeFilter
          | sort: organize.sortOrder
      "
    >
      <div class="board">
        <h3>{{ board.name }}</h3>
        <p class="createdDate">{{ board.createdAt | date }}</p>
        <ul>
          <li>
            <p>Todo:{{ taskPerColumn(board.tasks, 'Todo') }}</p>
          </li>
          <li>
            <p>In progress:{{ taskPerColumn(board.tasks, 'In progress') }}</p>
          </li>
          <li>
            <p>Done:{{ taskPerColumn(board.tasks, 'Done') }}</p>
          </li>
        </ul>
        <div class="board-actions">
          <button routerLink="/boards/{{ board.id }}/tasks">Details</button>
          <button (click)="onDelete(board)">
            <fa-icon [icon]="icons.delete"></fa-icon>
          </button>
          <button (click)="onEdit(board)">
            <fa-icon [icon]="icons.edit"></fa-icon>
          </button>
        </div>
      </div>
      <app-modal *ngIf="modal.editModal" class="addBoardModal">
        <app-editBoard-form
          [board]="activeBoard"
          (closeModal)="onClose()"
        ></app-editBoard-form>
      </app-modal>
    </div>
  </div>
</div>
