<div class="container">
  <div class="filter-sort">
    <div class="filter">
      <select name="filter-board" id="filter-board" #filterParam>
        <option value="">Filter By</option>
        <option value="board">Board name</option>
        <option value="task">Task name</option>
      </select>
      <label for="filterBoards">Filter</label>
      <input
        id="filterBoards"
        type="text"
        name="filter"
        [(ngModel)]="organize.filter"
        (input)="setFilter(filterParam.value)"
      />
    </div>
    <div class="sort">
      <select name="sort-board" id="sort-board" #select>
        <option value="">Sort By</option>
        <option value="name">name</option>
        <option value="date">date</option>
        <option value="tasks">number of tasks</option>
      </select>

      <button
        (click)="setSort(asc.innerText, select.value)"
        #asc
        class="btn-main"
      >
        ASC<fa-icon [icon]="icons.asc" class="icon-sort"></fa-icon>
      </button>
      <button
        (click)="setSort(desc.innerText, select.value)"
        #desc
        class="btn-main"
      >
        DESC<fa-icon [icon]="icons.desc" class="icon-sort"></fa-icon>
      </button>
    </div>
  </div>

  <button (click)="openShowModal()" class="board-add">
    <fa-icon [icon]="icons.add"></fa-icon>
  </button>

  <app-modal *ngIf="modal.addModal" class="addBoardModal">
    <app-add-board-form (closeModal)="onClose()"></app-add-board-form>
  </app-modal>

  <div *ngIf="boards$ | async as boards" class="board-container">
    <div
      *ngFor="
        let board of boards
          | filterBoards: organize.compositeFilter
          | sort: organize.sortOrder
      "
    >
      <div class="board">
        <h3>{{ board.name }}</h3>
        <p class="createdDate">{{ board.createdAt | date }}</p>
        <div class="board-actions">
          <div class="dropdown">
            <p>Details</p>
            <ul class="dropdown-content">
              <li>
                <p>
                  Todo:
                  <span>{{ taskPerColumn(board.tasks, status.todo) }}</span>
                </p>
              </li>
              <li>
                <p>
                  In progress:
                  <span>{{
                    taskPerColumn(board.tasks, status.in_progress)
                  }}</span>
                </p>
              </li>
              <li>
                <p>
                  Done:
                  <span>{{ taskPerColumn(board.tasks, status.done) }}</span>
                </p>
              </li>
            </ul>
          </div>
          <button routerLink="/boards/{{ board.id }}/tasks">See tasks</button>
          <button (click)="onDelete(board)">
            <fa-icon [icon]="icons.delete"></fa-icon>
          </button>
          <button (click)="onEdit(board)">
            <fa-icon [icon]="icons.edit"></fa-icon>
          </button>
        </div>
      </div>
      <app-modal *ngIf="modal.editModal" class="addBoardModal">
        <app-edit-board-form
          [board]="activeBoard"
          (closeModal)="onClose()"
        ></app-edit-board-form>
      </app-modal>
    </div>
  </div>
</div>
